.App,.suche,body{
  background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(48, 64, 207), rgb(255, 0, 0)) repeat scroll 0% 0%;
  text-align: center;
  flex-wrap: wrap;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* flex-direction: row;
  margin:15px;
  display:flex; */
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardTest{

  /* opacity:0; */



}


.cardTest:hover{
border-radius: 20px;
opacity:1;
transition:all 1s ease-in-out;
transform: translateY(-100px);


}
.suchefunc{

  margin-left: 20%;
  border-radius: 300px;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}
.btn{
  position:absolute;
  margin-top: 400px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
  

}